<html>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript">
			
				function loginRequest(e) {
					var formData = JSON.stringify($("#loginForm").serializeArray());
					$.ajax({

						type: "POST",
						url: "/todo/api/v1.0/tasks/greet",
						data: formData,
						success: function(data){
							var result = JSON.stringify(data);
							var json = JSON.parse(result);

							console.log("Hello world" + json.result);

							if (json.result === "True"){
								console.log("Trueeee");
								location.href = "http://google.com"
								return false;
							}else{
								location.href = "http://hotmail.com";
								console.log("Falseeee");
								return false;
							}
						},
						error: function (jqXHR, exception) {
					        var msg = '';
					        if (jqXHR.status === 0) {
					            msg = 'Not connect.\n Verify Network.';
					        } else if (jqXHR.status == 404) {
					            msg = 'Requested page not found. [404]';
					        } else if (jqXHR.status == 500) {
					            msg = 'Internal Server Error [500].';
					        } else if (exception === 'parsererror') {
					            msg = 'Requested JSON parse failed.';
					        } else if (exception === 'timeout') {
					            msg = 'Time out error.';
					        } else if (exception === 'abort') {
					            msg = 'Ajax request aborted.';
					        } else {
					            msg = 'Uncaught Error.\n' + jqXHR.responseText;
					        }
					        $('#post').html(msg);
					    },
						dataType: "json",
						contentType : "application/json"
					});
				}
		</script>

	</head>
	<body>

		<form id="loginForm" onsubmit="loginRequest()">
			Email: <input type="text" name="email" placeholder="Email"><br>
			Password: <input type="password" name="password" placeholder="Password">
			<input type="submit" value="Login">
		</form>

		<p id="post">Default value</p>

	</body>

</html>
