<html>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<script>
			$(function(){
				var username = localStorage.getItem("name");
				console.log(username);

				if (username !== null){
					$("#msg").html("Hello, " + username);
				}
				if (localStorage.getItem("remember") === "false"){
					localStorage.removeItem("name");
				}
			});

			function logout(){
				localStorage.removeItem("name");
				location.href = "/";
			}
			
		</script>

	</head>

	<body>
		<div class="container" style="padding: 25px;">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-danger btn-md" onclick="logout()">Logout</button><hr>

					<div style="border: 2px solid grey; border-radius: 2% 2% 0% 0%; padding: 5px;">
						
						<h1 class="form-group" id="msg">Hello World</h1><hr>
						<h4 class="form-group">Here are your tasks:</h4>

						{% for task in tasks %}
						<div class="form-group"> Task: {{ task.title }} </div>
						<div class="form-group"> Description: {{ task.description }} </div>
						{% endfor %}

					</div>
				
					
				</div>
			</div>
		</div>
		

	</body>

</html>
